

.main-nav-container {
    width: 100%;
    margin: 0;
    padding: 2px 20px;
    background-color: #343A40;
    color: #F8F9FA;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;

    .main-nav-links-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .main-auth-links-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .main-nav-title-wrapper {
        display: flex;
        align-items: center;
        background: linear-gradient(180deg, rgb(122, 184, 238) 0%, #E5E5E5 100%);
        position: relative;
        overflow: hidden;

        .main-nav-title {
            font-size: 1.6em;
            color:rgb(50, 1, 1);
            font-weight: 600;
            margin: 0;
            position: absolute;
            
        }
    }

    .background-shade {
        width: 60%;
        height: 100%;
        background-color: rgba(140, 97, 33, 0.104);
        //animation: nav-logo-animation 29s ease-in-out infinite;
    }

    .nav-link {
        font-size: 1.2em;
        text-decoration: none;
        color: #ADB5BD;
        margin: 2px 1em;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: #E9ECEF;
            transform: scale(1.1);
        }
    }

    .active-link {
        color: #E9ECEF;
        transform: scale(1.1);
        border-bottom: 1px solid #E9ECEF;
        transition: all 0.3s ease-in-out;
    }
}

@keyframes nav-logo-animation {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(-90px)
    }
    100% {
        transform: translateX(0)
    }
}