

.posts-container {
    width: 90%;
    margin: 0 auto;

    .posts-header {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .posts-content-container {
        width: 100%;
        min-height: 100vh;

        .posts-list-wrapper {
            display: flex;
            flex-direction: column;
        }


        .posts-form-wrapper {
            min-height: 100vh;
            padding: 1rem;
            border-left: 1px solid #121212;
        }

    }

    .posts-content-columns-51 {
        display: grid;
        grid-template-columns: 5fr 1fr;
    }

    .posts-content-columns-32 {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .posts-content-columns-13 {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}